[Unit]
Description=GNOME polkit

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

[Install]
WantedBy=x-session.target
