layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="php" cwd="$HOME/Projects/eledock"
    tab name="nodejs" cwd="$HOME/Projects/eledock"
    tab name="db" cwd="$HOME/Projects/eledock"
    tab name="sapp" cwd="$HOME/Projects/www/sapp"
    tab name="buyout" cwd="$HOME/Projects/www/buyout"
    tab name="vshosting" cwd="$HOME/Projects/eledock"
}
