layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="backend" cwd="/home/adam/Projects/istores-backend"
    tab name="import" cwd="/home/adam/Projects/westech-import"
    tab name="cms" cwd="/home/adam/Projects/istores-cms"
    tab name="frontend-sk" cwd="/home/adam/Projects/istores-sk-frontend"
    tab name="db" cwd="/home/adam/Projects"
    tab name="tunnels" cwd="/home/adam/Projects/istores-aws-keys"
}
